.Post-body pre {
  position: relative;

  &:hover .CopyCodeToClipboard {
    opacity: 1;
  }
}

.CopyCodeToClipboard {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  transition: all .25s ease;
}
