name: 构建包

on:
  workflow_dispatch:
    inputs:
      tag_name:
        description: 'tag name'
        required: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: 构建Docker镜像
      run: |
        db_host=${{ secrets.DB_HOST }}
        db_user=${{ secrets.DB_USER }}
        db_name=${{ secrets.DB_NAME }}
        db_pass=${{ secrets.DB_PASS }}
        db_port=${{ secrets.DB_PORT }}
        flarum_admin_user=${{ secrets.FLARUM_ADMIN_USER }}
        flarum_admin_pass=${{ secrets.FLARUM_ADMIN_PASS }}
        flarum_admin_mail=${{ secrets.FLARUM_ADMIN_MAIL }}
        sed -i 's/DBHOST/${db_host}/g' Dockerfile
        sed -i 's/DBUSER/${db_user}/g' Dockerfile
        sed -i 's/DBNAME/${db_name}/g' Dockerfile
        sed -i 's/DBPASS/${db_pass}/g' Dockerfile
        sed -i 's/DBPORT/${db_port}/g' Dockerfile
        sed -i 's/FLARUMADMINUSER/${flarum_admin_user}/g' Dockerfile
        sed -i 's/FLARUMADMINPASS/${flarum_admin_pass}/g' Dockerfile
        sed -i 's/FLARUMADMINMAIL/${flarum_admin_mail}/g' Dockerfile
        sed -i "s/${search}/${replace}/g" example.txt
        docker login --username=${{ secrets.DOCKER_HUB_USER }} --password=${{ secrets.DOCKER_HUB_PWD }}
        docker build --no-cache -t jiangjiali/flarum:${{ github.event.inputs.tag_name }} .
        docker push jiangjiali/flarum:${{ github.event.inputs.tag_name }}
        docker save -o flarum.${{ github.event.inputs.tag_name }}.tar jiangjiali/flarum:${{ github.event.inputs.tag_name }}

    - name: 上载文件
      uses: actions/upload-artifact@v4
      with:
        name: flarum
        path: |
          flarum.${{ github.event.inputs.tag_name }}.tar